@model List<RecordListModel>
@inject IViewLocalizer Localizer
@{
    string url = "";
    if (Context.Request.Path.ToString().Length >= 4)
    {
        url = Context.Request.Path.ToString().Remove(4);
    }
}

<h1 class="text-center">@Localizer["MyRecords"]</h1>
<hr>

@foreach (var record in Model)
{
    <table class="table">
        <thead class="bg-dark text-light text-center">
            <tr>
                <th colspan="5">@Localizer["PersonInfo"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="font-weight-bold">@Localizer["RecordNo"]: </span>#@record.RecordNumber</td>
                <td><span class="font-weight-bold">@Localizer["FirstName"]: </span>@record.FirstName</td>
                <td><span class="font-weight-bold">@Localizer["LastName"]: </span>@record.LastName</td>
                <td><span class="font-weight-bold">@Localizer["Email"]: </span>@record.Email</td>
                <td><span class="font-weight-bold">@Localizer["Phone"]: </span>@record.Phone</td>
            </tr>
        </tbody>
    </table>
    <table class="table mb-6">
        <thead class="bg-dark text-light text-center">
            <tr>
                <th>@Localizer["Courses"] <span class="badge badge-primary badge-pill">@record.RecordItems.Count</span></th>
                <th>@Localizer["RecordState"]</th>

                <th>@Localizer["Price"]</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var recordItem in record.RecordItems)
            {
                <tr>
                    @if (url == "/tr/" || url == "")
                    {
                        <th>@recordItem.NameTr</th>
                    }
                    else
                    {
                        <th>@recordItem.NameEn</th>
                    }
                    @if (@record.RecordState.ToString() == "completed")
                    {
                        <td class="text-success">@Localizer["Success"]</td>
                    }
                    else
                    {
                        <td class="text-danger">@Localizer["UnSuccess"]</td>
                    }
                    <td><i class="fas fa-sm fa-lira-sign"></i>@recordItem.Price</td>


                </tr>
            }
        </tbody>

        <tfoot class="text-center bg-dark text-light">
            <tr>
                <th>@Localizer["PaymentType"]</th>
                <td>@record.PaymentType</td>
                <td class="bg-success"><span class="font-weight-bold">@Localizer["Total"]: </span><i class="fas fa-sm fa-lira-sign"></i>@record.TotalPrice()</td>
            </tr>
        </tfoot>
    </table>

    <hr class="py-4" />
}
