@model CategoryModel
@inject IViewLocalizer Localizer
@{
    string url = "";
    if (Context.Request.Path.ToString().Length >= 4)
    {
        url = Context.Request.Path.ToString().Remove(4);
    }
}
<h1 class="h3">@Localizer["EditCategory"]</h1>
<hr>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Admin" asp-action="CategoryEdit" method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="CategoryId" value="@Model.CategoryId">
            <div class="form-group row">
                <label asp-for="NameTr" class="col-sm-4 col-form-label text-right">@Localizer["NameTr"]</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="NameTr">
                    <span asp-validation-for="NameTr" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NameEn" class="col-sm-4 col-form-label text-right">@Localizer["NameEn"]</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="NameEn">
                    <span asp-validation-for="NameEn" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Url" class="col-sm-4 col-form-label text-right">@Localizer["UrlTr"]</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Url">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-4">
                    <button type="submit" class="btn btn-primary text-right">@Localizer["SaveCategory"]</button>
                </div>
            </div>

            <div id="courses">

                @for (int i = 0; i < Model.Courses.Count; i++)
                {
                    <input type="hidden" name="Courses[@i].CourseId" value="@Model.Courses[@i].CourseId">
                    <input type="hidden" name="Courses[@i].ImageUrl" value="@Model.Courses[@i].ImageUrl">
                    @if (url == "/tr/" || url == "")
                    {
                        <input type="hidden" name="Courses[@i].Name" value="@Model.Courses[@i].NameTr">
                    }
                    else
                    {
                        <input type="hidden" name="Courses[@i].Name" value="@Model.Courses[@i].NameEn">

                    }
                    <input type="hidden" name="Courses[@i].Price" value="@Model.Courses[@i].Price">
                    <input type="hidden" name="Courses[@i].IsApproved" value="@Model.Courses[@i].IsApproved.ToString()">
                }

            </div>


        </form>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">

                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <td style="width: 30px;">Id</td>
                            <td style="width: 100px;">@Localizer["Image"]</td>
                            <td>@Localizer["NameTr"]</td>
                            <td style="width: 20px;">@Localizer["Price"]</td>
                            <td style="width: 20px;">@Localizer["Approved"]</td>
                            <td style="width: 150px;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Courses.Count > 0)
                        {
                            @foreach (var item in Model.Courses)
                            {
                                <tr>
                                    <td>@item.CourseId</td>
                                    <td><img src="~/img/@item.ImageUrl" width="80"></td>
                                    @if (url == "/tr/" || url == "")
                                    {
                                        <td>@item.NameTr</td>
                                    }
                                    else
                                    {
                                        <td>@item.NameEn</td>

                                    }
                                    <td>@item.Price</td>
                                    <td>
                                        @if (item.IsApproved)
                                        {
                                            <i class="fas fa-check-circle"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-times-circle"></i>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Localizer["EditHref"]/@item.CourseId" class="btn btn-primary btn-sm mr-2">@Localizer["Edit"]</a>

                                        <form action="@Localizer["DeleteHref"]" method="POST" style="display: inline;">
                                            <input type="hidden" name="courseId" value="@item.CourseId">
                                            <input type="hidden" name="categoryId" value="@Model.CategoryId">
                                            <button type="submit" class="btn btn-danger btn-sm">@Localizer["Delete"]</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <div class="alert alert-warning">
                                <h3>@Localizer["NoCourses"]</h3>
                            </div>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}