@model CourseListViewModel
@inject IViewLocalizer Localizer
@{
    string url = "";
    if (Context.Request.Path.ToString().Length >= 4)
    {
        url = Context.Request.Path.ToString().Remove(4);
    }
}
<div class="row">
    <div class="col-md-12">
        <h1 class="h3">@Localizer["Courses"]</h1>
        <hr>
        <a class="btn btn-primary btn-sm" href="@Localizer["AddCourseHref"]">@Localizer["AddCourse"]</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td style="width: 30px;">Id</td>
                    <td style="width: 100px;">@Localizer["Image"]</td>
                    <td>Name</td>
                    <td style="width: 20px;">@Localizer["Price"]</td>
                    <td style="width: 20px;">@Localizer["Home"]</td>
                    <td style="width: 20px;">@Localizer["Approved"]</td>
                    <td style="width: 150px;"></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Courses.Count > 0)
                {
                    @foreach (var item in Model.Courses)
                    {
                        <tr>
                            <td>@item.CourseId</td>
                            <td><img src="~/img/@item.ImageUrl" width="80"></td>
                            @if (url == "/tr/" || url == "")
                            {
                                <td>@item.NameTr</td>
                            }
                            else
                            {
                                <td>@item.NameEn</td>
                            }
                            <td>@item.Price</td>
                            <td>
                                @if (item.IsHome)
                                {
                                    <i class="fas fa-check-circle"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times-circle"></i>
                                }
                            </td>
                            <td>
                                @if (item.IsApproved)
                                {
                                    <i class="fas fa-check-circle"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times-circle"></i>
                                }
                            </td>
                            <td>
                                <a href="@Localizer["EditHref"]/@item.CourseId" class="btn btn-primary btn-sm mr-2">@Localizer["Edit"]</a>

                                <form action="@Localizer["DeleteHref"]" method="POST" style="display: inline;">
                                    <input type="hidden" name="courseId" value="@item.CourseId">
                                    <button type="submit" class="btn btn-danger btn-sm">@Localizer["Delete"]</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>@Localizer["NoCourse"]</h3>
                    </div>
                }


            </tbody>
        </table>
    </div>
</div>