@inject IViewLocalizer Localizer

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="@Localizer["HomeHref"]">CareerSite</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="@Localizer["LogOutHref"]">@Localizer["LogOut"]</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Localizer["HomeHref"]">
                            @Localizer["Home"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Localizer["CategoryHref"]">
                            @Localizer["Category"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Localizer["CourseHref"]">
                            @Localizer["Course"]
                        </a>
                    </li>                 
                    <li class="nav-item">
                        <a class="nav-link" href="@Localizer["UserHref"]">                           
                            @Localizer["User"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Localizer["RoleHref"]">
                            @Localizer["Role"]
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>