@model IEnumerable<IdentityRole>
@inject IViewLocalizer Localizer

<div class="row">
    <div class="col-md-12">
        <h1 class="h3">@Localizer["RoleList"]</h1>
        <hr>
        <a class="btn btn-primary btn-sm" href="@Localizer["CreateRoleHref"]">@Localizer["CreateRole"]</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td style="width: 250px;">Id</td>
                    <td>@Localizer["RoleName"]</td>
                    <td style="width: 160px;"></td>
                </tr>
            </thead>
            <tbody>
                @if(Model.Count()>0)
                {
                       @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>                              
                                <td>
                                    <a href="@Localizer["EditHref"]/@item.Id" class="btn btn-primary btn-sm mr-2">@Localizer["Edit"]</a>
                                    
                                    <form action="@Localizer["DeleteHref"]" method="POST" style="display: inline;">
                                        <input type="hidden" name="RoleId" value="@item.Id">
                                        <button type="submit" class="btn btn-danger btn-sm">@Localizer["Delete"]</button>
                                    </form>
                                </td>
                        </tr>
                        }
                }else{
                    <div class="alert alert-warning">
                        <h3>@Localizer["NoRoles"]</h3>
                    </div>
                }

             
            </tbody>
        </table>
    </div>
</div>