@model Course
@inject IViewLocalizer Localizer
@{
    string url = "";
    if (Context.Request.Path.ToString().Length >= 4)
    {
        url = Context.Request.Path.ToString().Remove(4);
    }
}
<div class="card mb-4">
    <div class="card-header">
        @if (url == "/tr/" || url == "")
        {
            <h3 class="my-0 font-weight-normal">@Model.NameTr</h3>
        }
        else
        {
            <h3 class="my-0 font-weight-normal">@Model.NameEn</h3>
        }
    </div>
    <img src="~/img/@Model.ImageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <h2 class="card-title pricing-card-title"> <i class="fas fa-sm fa-lira-sign"></i>@Model.Price</h2>
        @if (url == "/tr/" || url == "")
        {
            <p class="card-text">@Model.DescriptionTr</p>
        }
        else
        {
            <p class="card-text">@Model.DescriptionEn</p>
        }
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">

                <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-sm btn-outline-secondary">@Localizer["Review"]</a>

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-sm btn-outline-danger" href="/admin/courses/@Model.CourseId">@Localizer["Edit"]</a>
                    }
                }
            </div>
        </div>
        <div class="pt-3">
            <form asp-controller="Cart" asp-action="AddToCart" method="POST" style="display: inline;">
                <input type="hidden" name="courseId" value="@Model.CourseId">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">@Localizer["Register"]</button>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">@Localizer["LastEdited"]: @Model.DateAdded</small>
    </div>
</div>
