@inject IViewLocalizer Localizer

<footer class="container pt-4 my-md-5 pt-md-5 border-top text-center">
    <small class="d-block mb-3 text-muted">&copy 2021-2022 CareerSite</small>

    <div class="dropdown">
        <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Localizer["Languages"]
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item" href="@Localizer["trHref"]">@Localizer["tr"]</a>
            <a class="dropdown-item" href="@Localizer["enHref"]">@Localizer["en"]</a>
        </div>
    </div>
</footer>
