@inject IViewLocalizer Localizer

<div class="jumbotron bg-dark text-light">
    <h1 class="display-4">@Localizer["HeaderTitle"]</h1>
    <p class="lead">@Localizer["HeaderSubTitle"]</p>
    <hr class="my-4 bg-light">
    <p>@Localizer["HeaderParagraph"]</p>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a class="btn btn-lg btn-outline-light" href="@Localizer["LogInHref"]">@Localizer["LogIn"]</a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a class="btn btn-lg btn-outline-light" href="@Localizer["RegisterHref"]">@Localizer["Register"]</a>
            </div>
        </div>
    }
</div>


