@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer

<div class="container">

    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-3 d-flex justify-content-start align-items-center">


                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <div class="pr-3">
                            <a class="btn btn-sm btn-outline-danger" href="/dashboard">@Localizer["Dashboard"]</a>
                        </div>
                    }
                }
                <div>
                    <form action="/search">
                        <div class="input-group input-group-sm">

                            <input name="q" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="@Localizer["Search"]">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark" type="submit" id="button-addon2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>



            </div>
            <div class="col-4 pt-3 text-center">
                <a class="blog-header-logo text-dark" href="/">CareerSite</a>
            </div>
            <div class="col-4 pt-3 d-flex justify-content-end align-items-center">

                <div class="pr-3">
                    <a class="text-body" href="/cart" title="Sepet">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"></path>
                        </svg>
                    </a>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="dropdown">
                        <button class="btn btn-sm btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @User.Identity.Name
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/records">@Localizer["Records"]</a>
                            <a class="dropdown-item text-danger" href="/account/logout">@Localizer["LogOut"]</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="mr-2">
                        <a class="btn btn-sm btn-outline-success" href="/account/login">@Localizer["LogIn"]</a>
                    </div>
                    <div>
                        <a class="btn btn-sm btn-outline-primary" href="/account/register">@Localizer["Register"]</a>
                    </div>
                }
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="/courses/yazilim">@Localizer["Software"]</a>
            <a class="p-2 text-muted" href="/courses/saglik">@Localizer["Health"]</a>
            <a class="p-2 text-muted" href="/courses/muzik">@Localizer["Music"]</a>
            <a class="p-2 text-muted" href="/courses/akademi">@Localizer["Academy"]</a>
            <a class="p-2 text-muted" href="/courses/finans">@Localizer["Finance"]</a>
            <a class="p-2 text-muted" href="/courses/fotograf">@Localizer["Photograph"]</a>
            <a class="p-2 text-muted" href="/courses/isletme">@Localizer["Management"]</a>
            <a class="p-2 text-muted" href="/courses/pazarlama">@Localizer["Marketing"]</a>
            <a class="p-2 text-muted" href="/courses/kisisel-gelisim">@Localizer["Self-Improvement"]</a>
            <a class="p-2 text-muted" href="/courses/tasarim">@Localizer["Design"]</a>
            <a class="p-2 text-muted" href="/courses/bt">@Localizer["IT"]</a>
            <a class="p-2 text-muted" href="/courses/yasam-tarzi">@Localizer["Life Style"]</a>
        </nav>
    </div>


</div>



@* <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">

    @foreach (var category in Model)
    {
    <a asp-controller="Shop" asp-action="List" asp-route-category="@category.Url" class="p-2 text-muted">@category.Name</a>

    }
    @foreach (var item in Model)
    {
    <a asp-controller="Shop" asp-action="List" asp-route-category="@item.Url"
    class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == item.Url?"active":"")">
    @item.Name
    </a>
    }

    </nav>
    </div>*@
