@model List<Category>

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">

        @foreach (var category in Model)
        {
            <a asp-controller="Shop" asp-action="List" asp-route-category="@category.Url" class="p-2 text-muted">@category.Name</a>

        }
        @*@foreach (var item in Model)
            {
            <a asp-controller="Shop" asp-action="List" asp-route-category="@item.Url"
            class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == item.Url?"active":"")">
            @item.Name
            </a>
            }*@

    </nav>
</div>